<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<header class="header">
    <h1>Интернет-магазин</h1>
    <nav>
        <button class="create-button" href="/">Главная</button>
        <a href="/">Каталог</a>
        <a href="/">Корзина</a>
        <a href="/login">Войти</a>
    </nav>
</header>

<main class="main-content">
    <h2>Популярные товары</h2>
    <!-- Здесь можно добавить карточки товаров -->
    <div class="product-card">Товар 1
        <div class="product-card">Товар 1</div>
        <div class="product-card">Товар 1</div>
        <div class="product-card">Товар 1</div>
        <div class="product-card">Товар 1</div>
    </div>
    <div class="product-card">Товар 2</div>
    <div class="product-card">Товар 3</div>
</main>

<footer class="footer">
    &copy; 2024 Онлайн-редактор
</footer>
</body>
</html>